.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mock {
	margin: 15px 0px;
	padding: 5px;
	display: flex;
	width: 250px;
	height: 28px;
	border: 2px solid var(--searchBarBorder);
	border-right: 1px solid var(--searchBarBorder);
	border-radius: 10px 0px 0px 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--searchBarColor);
	background-color: var(--searchBarBackground);
	font-size: 14px;
	box-shadow: inset 0px 0px 4px 2px #33333310;
}

.mockTwo {
	border-left: 1px solid var(--searchBarBorder);
	border-radius: 0px 10px 10px 0px;
}

.mock img {
	padding: 5px;
	padding-right: 10px;
	width: 20px;
	height: 20px;
	opacity: 0.3;
}
