.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	position: relative;
	color: var(--headerLogoColor);
	font-size: 36px;
	margin: 20px 0px;
	cursor: pointer;
	z-index: 1;
	text-shadow: 2px 0px 0px #83ab8a;
}

.logo::before {
	content: "";
	position: absolute;
	left: 45px;
	bottom: 6px;
	width: 100px;
	height: 8px;
	transform: skew(-20deg) translateX(-50%);
	background: var(--headerLogoUnderline);
	z-index: -1;
}

.userForm > button {
	width: 110px;
	position: relative;
	margin-inline: 5px;
	padding: 10px;
	font: inherit;
	color: var(--userFormButtonColor);
	background-color: var(--userFormButtonBackground);
	border: 2px solid var(--userFormButtonBorder);
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	cursor: pointer;
}

.userForm > button:hover {
	color: var(--userFormButtonHover);
}

.userForm > button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--userFormButtonAnimation);
	transition: all 0.5s;
	z-index: -1;
	transform: translateX(-100%);
}

.userForm > button:hover::before {
	transform: translateX(0);
}
