.container {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	background-color: var(--black);
	justify-content: space-between;
	font: inherit;
	color: var(--headerLogoColor);
}

.left {
	display: flex;
	flex-direction: row;
	margin: 20px 0px 20px 0px;
}

.box {
	display: flex;
	flex-direction: row;
}

.mark {
	font-size: 35px;
	margin: 0px 0px 60px 80px;
	font-weight: 800;
	position: relative;
	z-index: 1;
}

.mark::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 8px;
	background: var(--headerLogoUnderline);
	transform: skew(-20deg) translateX(-50%);
	left: 45px;
	bottom: 6px;
	z-index: -1;
}

.rights {
	font-size: small;
	margin-left: 80px;
}

.info {
	display: flex;
	flex-direction: column;
	margin-left: 80px;
	line-height: 30px;
}

.right {
	display: flex;
	justify-content: flex-end;
	margin: 20px 50px 20px 0px;
}

.created {
	text-decoration: underline;
	font-size: 18px;
	margin: 10px 0px 40px 340px;
}

.creators {
	display: flex;
	flex-direction: column;
}

.github {
	display: flex;
	flex-direction: row;
}

.author {
	margin: 0px 10px 0px 20px;
}

img {
	width: 40px;
	filter: invert(100%);
	margin-right: 30px;
}

.contact {
	font-size: 18px;
	text-decoration: underline;
	margin-bottom: 5px;
}
