.categoryBar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	margin-top: var(--categoryBarMargin);
	margin-bottom: 6px;
}

.category {
	font-size: var(--categoryBarFontSize);
	color: var(--categoryBarColor);
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 3px solid var(--categoryBarBorder);
	cursor: pointer;
}

.category:hover {
	color: var(--categoryBarHover);
	border-bottom: 3px solid var(--categoryBarHover);
}
