.categoryList {
	margin: auto 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.panel {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto 20px;
}
.businessData {
	color: var(--accent);
	font-size: 1.2em;
	margin: auto 20px;
	min-width: 400px;
}

.businessData span {
	color: var(--black);
	font-weight: 300;
	font-size: 20px;
}
.businessData:hover {
	opacity: 0.7;
	cursor: pointer;
}
.panelServices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.servicesList {
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	font-size: 16px;
	/* border: 1px solid rgb(240, 240, 240); */
	border-bottom: 2px solid rgb(240, 240, 240);
}

.servicesList:first-of-type {
	border-top: 2px solid rgb(240, 240, 240);
}

.servicesList:hover {
	border-left: 4px solid var(--accent);
}

.servicesList:hover .servicesListName {
	color: var(--accent);
	font-weight: 600;
}
.photo {
	border-radius: 10px;
	cursor: pointer;
	width: 350px;
	box-shadow: 0px 0px 5px 2px #33333320;
}
.photo:hover {
	opacity: 0.7;
}
.servicesListName {
	padding-left: 50px;
	min-width: 250px;
	flex: 1;
}

.servicesListPrice {
	text-align: flex-start;
	justify-self: flex-start;
	background-color: var(--accent);
	border: 2px solid var(--accent);
	padding: 3px;
	margin-right: 10px;
	color: var(--white);
	box-shadow: 0px 0px 5px 2px #33333320;
	font-weight: 600;
	border-radius: 5px;
}

.servicesButton {
	position: relative;
	margin-inline: 5px;
	padding: 10px;
	/* margin-right: 30px; */
	font: inherit;
	color: var(--black);
	background-color: var(--white);
	border: 2px solid var(--accent);
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	cursor: pointer;
}

.servicesButton:hover {
	color: var(--white);
}
.servicesButton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent);
	transition: all 0.5s;
	z-index: -1;
	transform: translateX(-100%);
}
.servicesButton:hover::before {
	transform: translateX(0);
}
.line {
	height: 1px;
	width: 105%;
	margin-top: 20px;
	background-color: var(--accent);
}
