.panel {
	display: flex;
}
.panelServices {
	margin: auto 20px;
	width: 60%;
}
.servicesList {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	height: 50px;
}
.servicesListName {
	width: 400px;
}
.servicesListPrice {
	width: 200px;
}
.servicesButton {
	height: 30px;
	background-color: var(--accent);
	border-radius: 10px;
}
