:root {
	/* header color */
	--black: #353a39;
	/* background color */
	--white: #fff;
	/* buttons, borders, accents! */
	--accent: #8bb941;

	--background-accent: #f1f1f1;
}

body {
	font-family: "Karla", "sans-serif";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
