:root {
	--black: #1f2222;
	--white: #fff;
	--accent: #83ab8a;

	--searchBarColor: #1f2222;
	--searchBarBackground: #fff;
	--searchBarBorder: #83ab8a;

	--headerLogoColor: #fff;
	--headerLogoUnderline: #83ab8a;

	--userFormButtonColor: #1f2222;
	--userFormButtonBackground: #fff;
	--userFormButtonBorder: #83ab8a;
	--userFormButtonHover: #fff;
	--userFormButtonAnimation: #83ab8a;

	--categoryBarColor: #fff;
	--categoryBarBackground: none;
	--categoryBarBorder: transparent;
	--categoryBarHover: #83ab8a;
	--categoryBarFontSize: 18px;
	--categoryBarMargin: 100px;
}

body {
	font-family: "Karla", "sans-serif";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
