
.imgStyle {
    height: 400px;
    width: 500px; 
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;

};

.divStyle {
    display: flex;
    position: relative;
    margin: 10px;
    color: var(--white);
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
};