.imgStyle {
    height: 400px;
    width: 500px; 
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;

};

.divStyle {
    display: flex;
    margin: 0 auto;
    color: var(--white);
    justify-content: center;
    font-weight: 400;
    width: 1200px;
};
.textBox {
    width: 500px;
    height: 500px;

};
.textBox2 {
    width: 500px;
    height: 500px;

};