.contentWrapper {
	max-width: 1230px;
	margin: 0 auto;
	overflow: hidden;
}

.recommendedHeader {
	font-size: 30px;
}

.galleryWrapper:focus {
	outline: none;
}

.galleryWrapper {
	margin: 0 auto;
}

.galleryWrapper button {
	width: 40px;
	border: none;
}

.galleryWrapper button:first-of-type:active {
	transform: translateX(-3px);
}

.galleryWrapper button:last-of-type:active {
	transform: translateX(3px);
}

.galleryWrapper ol {
	list-style: none;
}

.galleryWrapper button:first-of-type {
	margin-left: 575px;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
}

.galleryItem {
	position: relative;
	padding-inline: 5px;
}

.galleryItemRating {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	right: 5px;
	width: 100px;
	height: 75px;
	border-radius: 0px 20px;
	color: var(--white);
	background-color: rgba(0, 0, 0, 0.6);
}

.galleryItemRatingHeader {
	margin: 0;
	margin-bottom: 5px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
}

.galleryItemRatingText {
	margin: 0;
	font-size: 14px;
	text-align: center;
}

.galleryItemImage {
	width: 400px;
	height: 300px;
	border-radius: 20px;
}

.galleryItemBanner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 3px;
	left: 5px;
	right: 5px;
	padding-inline: 25px;
	border-radius: 0px 0px 20px 20px;
	color: var(--white);
	background-color: rgba(0, 0, 0, 0.6);
}

.galleryItemTitle {
	margin: 0;
	font-size: 20px;
}

.galleryItemDetails {
	font-size: 16px;
}
